.slideRight {
    width: 100vw;
    overflow: hidden;
    font-size: 2vh;
}

.slideFirst {
    animation: 1.5s slideRight 1s forwards;
    transform: translateX(-100vw);
    margin-left: 1vw;
    font-size: 4vh;
}

.slideSecond {
    animation: 1.5s slideRight 2s forwards;
    transform: translateX(-100vw);
    margin-left: 1vw;
    font-size: 4vh;
}

.slideThird {
    animation: 1.5s slideRight 3s forwards;
    transform: translateX(-100vw);
    margin-left: 1vw;
    font-size: 4vh;
}

@keyframes slideRight {
    to {
        transform: translateX(0);
    }
}
