.footer body {
  margin: 0;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer li {
  float: left;
  display: inline-flex;
  margin-left: 1vw;
}

.footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.4vh 1.6vw;
  text-decoration: none;
}

.footer li a:hover:not(.active) {
  background-color: #111;
}

.footer .liRight {
  float: right;
}
