.navbar body {
  margin: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
}

.navbar li {
  float: left;
  display: inline-flex;
  margin-left: 1vw;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.4vh;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar .liRight {
  float: right;
}
