.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #242424;
    padding: 2vh;
    border-radius: 1vh;
    width: 80vw;
    max-width: 50vw;
    box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
}

.close {
    color: #aaa;
    font-size: 2.8vh;
    font-weight: bold;
    position: absolute;
    top: 1vh;
    right: 2vh;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.p {
    margin: 1vh 0;
    font-size: 1.8vh;
}
