.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.center {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
}
